<div class="mb-3">
    <a href="/" class="text-decoration-none">&larr; Back to list</a>
</div>

<div class="card shadow-sm rounded-4">
    <div class="card-body">
        <h1 class="h4 mb-3">{{title}}</h1>

        <form method="POST" action="{{action}}">
            <div class="row">
                <div class="mb-3 col-6">
                    <label class="form-label">First Name *</label>
                    <input name="item" class="form-control" value="{{student.FirstName}}" required>
                </div>

                <div class="mb-3 col-6">
                    <label class="form-label">Last Name *</label>
                    <input name="item" class="form-control" value="{{student.LastName}}" required>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-6">
                    <label class="form-label">Major</label>
                    <input name="item" class="form-control" value="{{student.Major}}" required>
                </div>
                <div class="mb-3 col-6">
                    <label class="form-label">GPA</label>
                    <input name="cost" type="number" step="0.01" class="form-control" value="{{student.GPA}}" min="0"
                           max="5" required>
                </div>
            </div>
            <div class="text-end">
                <a href="/" class="btn btn-outline-secondary rounded-3">Cancel</a>
                <button class="btn btn-primary rounded-3">{{submitLabel}}</button>
            </div>
        </form>
    </div>
</div>
