<div class="mb-3">
    <a href="/" class="text-decoration-none">&larr; Back to list</a>
</div>

<div class="card shadow-sm rounded-4">
    <div class="card-body">
        <h1 class="h4 mb-3">{{title}}</h1>

        <form method="POST" action="{{action}}">
            <div class="row">
                <div class="mb-3 col-6">
                    <label class="form-label">First Name *</label>
                    <input name="FirstName" class="form-control" value="{{student.FirstName}}" >
                    {{#if errors.firstName}}<span class="error-message" id="title-error">{{errors.firstName}}</span>{{/if}}
                </div>

                <div class="mb-3 col-6">
                    <label class="form-label">Last Name *</label>
                    <input name="LastName" class="form-control" value="{{student.LastName}}" >
                    {{#if errors.lastName}}<span class="error-message" id="title-error">{{errors.lastName}}</span>{{/if}}
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-6">
                    <label class="form-label">Major</label>
                    <input name="Major" class="form-control" value="{{student.Major}}" >
                    {{#if errors.major}}<span class="error-message" id="title-error">{{errors.major}}</span>{{/if}}

                </div>
                <div class="mb-3 col-6">
                    <label class="form-label">GPA</label>
                    <input name="GPA" class="form-control" value="{{student.GPA}}">
                    {{#if errors.gpa}}<span class="error-message" id="title-error">{{errors.gpa}}</span>{{/if}}

                </div>
            </div>
            <div class="text-end">
                <a href="/" class="btn btn-outline-secondary rounded-3">Cancel</a>
                <button class="btn btn-primary rounded-3">{{submitLabel}}</button>
            </div>
        </form>
    </div>
</div>
